In [94]:
import pandas as pd
import numpy as np

In [96]:
data = pd.read_excel(r"C:\Users\kanik\Downloads\Customer Call List.xlsx")
data

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [98]:
data.value_counts()

CustomerID  First_Name  Last_Name    Phone_Number  Address                                Paying Customer  Do_Not_Contact  Not_Useful_Column
1020        Anakin      Skywalker    876|678|3469  910 Tatooine Road, Tatooine            Yes              N               True                 2
1001        Frodo       Baggins      123-545-5421  123 Shire Lane, Shire                  Yes              No              True                 1
1002        Abed        Nadir        123/643/9775  93 West Main Street                    No               Yes             False                1
1004        Dwight      Schrute      123-543-2345  980 Paper Avenue, Pennsylvania, 18503  Yes              Y               True                 1
1005        Jon         Snow         876|678|3469  123 Dragons Road                       Y                No              True                 1
1006        Ron         Swanson      304-762-2467  768 City Parkway                       Yes              Yes             True                 1
1008        Sherlock    Holmes       876|678|3469  98 Clue Drive                          N                No              False                1
1010        Peter       Parker       123-545-5421  25th Main Street, New York             Yes              No              True                 1
1013        Don         Draper       123-543-2345  2039 Main Street                       Yes              N               False                1
1014        Leslie      Knope        876|678|3469  343 City Parkway                       Yes              No              False                1
1015        Toby        Flenderson_  304-762-2467  214 HR Avenue                          N                No              False                1
1016        Ron         Weasley      123-545-5421  2395 Hogwarts Avenue                   No               N               False                1
1017        Michael     Scott        123/643/9775  121 Paper Avenue, Pennsylvania         Yes              No              False                1
1019        Creed       Braton       N/a           N/a                                    N/a              Yes             True                 1
Name: count, dtype: int64

In [70]:
data.drop_duplicates()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [100]:
# data['Last_Name'] = data['Last_Name'].str.lstrip('/')
# data['Last_Name'] = data['Last_Name'].str.lstrip('...')
# data['Last_Name'] = data['Last_Name'].str.rstrip('_')

data['Last_Name'] = data['Last_Name'].str.lstrip('/,_')

In [102]:
data['Last_Name']

0         Baggins
1           Nadir
2           White
3         Schrute
4            Snow
5         Swanson
6          Winger
7          Holmes
8             NaN
9          Parker
10         Gamgee
11      ...Potter
12         Draper
13          Knope
14    Flenderson_
15        Weasley
16          Scott
17           Kent
18         Braton
19      Skywalker
20      Skywalker
Name: Last_Name, dtype: object

In [104]:
data.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [106]:
data['Phone_Number'].dtype

dtype('O')

In [108]:
data['Phone_Number']= data['Phone_Number'].apply(lambda x:str(x))

In [110]:
data['Phone_Number']= data['Phone_Number'].str.replace('[^a-zA-z0-9]' ,'')

In [112]:
data['Phone_Number']

0     123-545-5421
1     123/643/9775
2       7066950392
3     123-543-2345
4     876|678|3469
5     304-762-2467
6              nan
7     876|678|3469
8              N/a
9     123-545-5421
10             nan
11      7066950392
12    123-543-2345
13    876|678|3469
14    304-762-2467
15    123-545-5421
16    123/643/9775
17      7066950392
18             N/a
19    876|678|3469
20    876|678|3469
Name: Phone_Number, dtype: object

In [ ]:
data